@import url('https://fonts.googleapis.com/css?family=Numans');

html, body
{
	background-color: rgb(138, 138, 92);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	font-family: 'Numans', sans-serif;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;

}

.navbar-nav {
	background-color: #003333;
}

.bg { 
  /* The image used */
  background-image: url("images/catalogue.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  background-image: linear-gradient(rgba(204, 255, 242, 0.5), rgba(51, 51, 26, 0.5)), url("images/sprout.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 70px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.container{
	height: 100%;
	align-content: center;
}

.card{
	padding: 5px;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: 0 0 8px #66666;
	margin: 4% auto 0;
	height: 550px;
	width: 1100px;
	background-color: hsl(0, 0%, 95%, 0.7)!important;
}

p {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 16px;
	text-align: center;
	font-weight: 300;
}

h3 {
	font-weight: 700;
	padding-left: 450px;
}

h1 {
	padding-left: 0px;
	font-weight: 700;
	font-size: 50px;
	color: #334d4d;
}

body {
	position: relative;
}

.navbar {
	background-color: #003333;
	height: 55px;
	padding: 2px;
	font-size: 17px;
}

* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 600px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #004d4d;
  opacity: 0.7;
  border-radius: 50%;
}


h1 {
	color: #ffffff;
	font-size:110px;
	font-weight: 700;
	font-style: 'Arial Rounded MT Bold';
	text-shadow: 0 0 8px #666666;
}

.explore {
	width: 170px;
	height: 40px;
	text-align: center;
	padding: 2px;
	font-family: 'Numans', sans-serif;
	font-size: 15px;
}

.cat {
	width: 200px;
	height: 40px;
	text-align: center;
	padding: 2px;
	font-family: 'Numans', sans-serif;
	font-size: 15px;
	padding-right: 50px;
	float: bottom;
}

.second {
  background-image: linear-gradient(rgba(204, 255, 242, 0.5), rgba(51, 51, 26, 0.5)), url("images/catalogue.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 70px;
}

.row {
	height: 1500px;
}

.title {
	background-image:linear-gradient (to right, rgba(212, 212, 170, 0.5), rgba(148, 184, 184, 0.5);
}

.down {
	color: #ffffff;
	font-size:70px;
	font-weight: 700;
	font-style: 'Arial Rounded MT Bold';
	text-shadow: 0 0 8px #666666;
}
