@import url('https://fonts.googleapis.com/css?family=Numans');

html, body
{
background-color:#d2e0e0;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
font-size: 14;
}

.container{
height: 100%;
align-content: center;
}

.card{
padding: 35px;
padding-left: 30px;
box-shadow: 0 0 10px #666666;
margin: 4% auto 0;
height: 2700px;
width: 1200px;
background-color: hsl(0, 0%, 100%, 0.9)!important;
}

.input-group-prepend span{
width: 50px;
background-color: #009999;
color: black;
border:0 !important;
border-color: white;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.login_btn{
color: black;
background-color: #009999;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}
